footer {
    background-color: rgba(81,81,81,0.6);
    color: #444 ;
    font-size: 12px;
    padding: 40px 0px;
    margin-top: 20px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    
    span {
        color: #fff;
    }
    
    a {
        color: #fff;
    }
    
    a:hover {
        text-decoration: none;
        color: $linkHoverColor;
    }
    
    a.linkedin:hover i {
        color: #4875B4;
    }
    
    a.facebook:hover i {
        color: #3B5998;
    }
    
    a.github:hover i {
        color: #79d858;
    }
    
    a.twitter:hover i {
        color: #33CCFF;
    }
    
    i {
        font-size: 20px;
        margin-right: 8px;
    }
}