.navbar-default {
    background-color: #fff;
    
    .navbar-brand:hover {
    	color: $linkHoverColor;
    }
    
    .navbar-nav > li > a:hover {
        color: $linkHoverColor;
    }
}

.dropdown-menu > li> a:hover {
    background: $linkHoverColor;
}