.jumbotron {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 70px 15px 30px 15px;
    border-radius: 0;
}

.employment, .education {
    .fa-angle-right {
        font-size: 10px;
    }
}

.employment {
    .job {
        margin-bottom: 10px;
        
        .company {
            color: #000;
            position: relative;
        }
    }
}

.education {
    padding-top: 15px;
    
    .school {
        color: #000;
    }
}

.skills {
    padding-bottom: 15px;
    
    .skill-collection {
        margin-bottom: 10px;
        
        .type {
            color: #000;
            text-transform: capitalize;
        }
        
        .skill {
            font-size: 13px; 
        }
        
        .fa {
            font-size: 16px;
        }
        
        .fa-angle-right {
            font-size: 10px;
        }
    }
}

            
.content {
    background: #fff;
    padding: 10px;
    
    .title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .type, .company, .school {
        font-size: 16px;
    }
    
    .years, .location {
        position: absolute;
        top: 3px;
        right: 10px;
        font-size: 11px;
    }
    
    .school, .company, .degree, .job-title {
        position: relative;
    }
    
    .job-title, .degree, .major {
        font-size: 14px;
    }
    
    .comments {
        font-size: 13px;
        padding: 1px 0px;
        
        &:last-child {
            padding-bottom: 0px;
        }
    }
}