#contact {
	background: #363636;
	color: #9c9c9c;
	padding: 100px 0px;

	.container {
		text-align: center;

		h1 {
			font-size: 1.8em;
			margin-bottom: 45px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}

		.icons {
			font-size: 2em;

			ul {
				list-style: none;

				li {
					margin: 0px 40px;
					display: inline;

					a {
						color: inherit;
						text-decoration: none;
					}
				}

				li:hover { 
					a.github {
						color: #000;
					}

					a.linkedin {
						color: #60FFAC;
					}

					a.email {
						color: rgb(255, 0, 235);
					}

					a.facebook {
						color: #32CCFE;
					}
				}
			}
		}

		.copyright {
			font-size: .8em;
			margin-top: 45px;
		}
	}
}