#skills {
	padding: 100px 140px;

	.container {
		text-align: center;

		h1 {
			font-size: 1.8em;
			margin-bottom: 45px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}

		.skill-section {
			float: left;
			width: 33%;

			.pie {
				.master {
					background: #60F2FF;
				}
				.inner {
					background: whitesmoke;
				}
			}

			.main {
				.master {
					background: #60FFAC;
				}

				.content {
					font-size: 20px;
				}
			}
		}
	}
}