#skills {
	padding: 100px 0px 190px 0px;

	.container {
		text-align: center;

		h1 {
			font-size: 1.8em;
			margin-bottom: 45px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}

		.skill-section {
			float: left;
			width: 50%;

			.pie {
				.inner {
					border-color: #60F2FF;
				}
			}

			.main {
				.inner {
					border-color: #60FFAC;
				}

				.content {
					font-size: 20px;
				}
			}

			.skill {
				display: inline-block;
				position: relative;

				.subskills {
					position: absolute;
					display: none;
					width: 500px;
					left: -185px;
					top: 135px;

					.subskill {
						display: inline-block;

						.inner {
							border-color: rgb(255, 0, 235);
						}
					}
				}
			}

			.skill:hover {
				.subskills {
					display: inline-block;
				}
			}
		}
	}
}