<section id="contact">
	<div class="container" animation="fadeInUp" in-viewport>
		<h1>Find me</h1>

		<div class="icons">
			<ul>
				<li>
					<a class="github" href="https://github.com/cytoplankton/" target="_blank">
						<i class="fa fa-github"></i>
					</a>
				</li>
				<li>
					<a class="linkedin" href="https://www.linkedin.com/in/jarrodperez/" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				<li>
					<a class="email" href="mailto:perez.jarrod@gmail.com">
						<i class="fa fa-envelope"></i>
					</a>
				</li>
				<li>
					<a class="facebook" href="https://www.facebook.com/perez.jarrod" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
			</ul>
		</div>

		<div class="copyright">2014 &copy Jarrod Perez</div>
	</div>
</section>