<section id="contact">
	<div class="container">
		<h1>Find me</h1>

		<div class="icons">
			<ul>
				<li>
					<a class="github" href="https://github.com/cytoplankton/" target="_blank">
						<i class="fa fa-github"></i>
					</a>
				</li>
				<li>
					<a class="linkedin" href="https://github.com/cytoplankton/" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				<li>
					<a class="twitter" href="https://github.com/cytoplankton/" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a class="facebook" href="https://github.com/cytoplankton/" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
			</ul>
		</div>

		<div class="copyright">2014 &copy Jarrod Perez</div>
	</div>
</section>