<section id="skills">
	<div class="container">
		<h1 animation="fadeInDown" in-viewport>Skill tree</h1>

		<div class="skill-tree">
			<div class="skill-section" ng-repeat="tier1 in skillTree" in-viewport animation="{{$index == 1 ? 'fadeInRight' : 'fadeInLeft'}}">
				<piechart class="main" size="getCirleWidth(6, 150)", value="tier1.value" label="{{tier1.name}}"></piechart>
				<br />
				<div class="skill" ng-repeat="tier2 in tier1.skills">
					<piechart size="getCirleWidth(10, 50)" value="tier2.value" label="{{tier2.skill}}"></piechart>
					<div class="subskills animated fadeInDown">
						<div class="subskill" ng-repeat="tier3 in tier2.subSkills">
							<piechart size="getCirleWidth(12, 100)" value="tier3.value" label="{{tier3.subSkill}}"></piechart>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>