<section id="skills">
	<div class="container">
		<h1>Skill tree</h1>

		<div class="skill-tree">
			<div class="skill-section">
				<piechart class="main" size="130" value="90" label="frontend"></piechart>
				<br />
				<piechart size="110" value="85" label="html"></piechart>
				<piechart size="110" value="95" label="css"></piechart>
				<piechart size="110" value="80" label="javascript"></piechart>
				<piechart size="110" value="80" label="angularjs"></piechart>
				<piechart size="110" value="90" label="jquery"></piechart>
				<piechart size="110" value="90" label="bower"></piechart>
				<piechart size="110" value="90" label="sass/scss"></piechart>
				<piechart size="110" value="90" label="stylus"></piechart>
			</div>
			<div class="skill-section">
				<piechart class="main" size="130" value="80" label="backend"></piechart>
				<br />
				<piechart size="110" value="75" label="nodejs"></piechart>
				<piechart size="110" value="85" label="php"></piechart>
				<piechart size="110" value="70" label="linux"></piechart>
				<piechart size="110" value="70" label="mongo"></piechart>
				<piechart size="110" value="70" label="redis"></piechart>
				<piechart size="110" value="70" label="git"></piechart>
				<piechart size="110" value="70" label="npm"></piechart>
				<piechart size="110" value="70" label="grunt"></piechart>
				<piechart size="110" value="70" label="gulp"></piechart>
			</div>
			<div class="skill-section">
				<piechart class="main" size="130" value="80" label="personality"></piechart>
				<br />
				<piechart size="110" value="75" label="video games"></piechart>
				<piechart size="110" value="85" label="foosball"></piechart>
				<piechart size="110" value="85" label="movies"></piechart>
				<piechart size="110" value="70" label="beer"></piechart>
				<piechart size="110" value="70" label="beach"></piechart>
				<piechart size="110" value="70" label="the office"></piechart>
				<piechart size="110" value="100" label="tieing a tie"></piechart>
				<piechart size="110" value="50" label="spelling"></piechart>
			</div>
		</div>
	</div>
</section>